.form-group {
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
}

.radio-group input[type="radio"] {
    margin-right: 5px; /* Add spacing between radio inputs */
}

.radio-group label {
    margin-right: 10px; /* Add spacing between radio labels */
}